.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 90vw;
  background-color: black; /* Adjust if you have a specific background color */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.dot {
  color: #4caf50;
}

.navLinks {
  display: flex;
  gap: 20px; /* Adds space between the buttons */
}

.navButton {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: rgba(69, 188, 73, 0.1); /* Light green background on hover */
  text-decoration: none;
}

.pricing {
  color: white; /* Ensure the pricing link is visible */
}

.pricing:hover {
  color: white; 
  text-decoration: underline;
  text-decoration-color: #4caf50;
}
