.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 233px 20px 233px;
  width: 100vw;
  background-color: #030F2D;
  /* Adjust if you have a specific background color */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F7F2EB;
}

.dot {
  color: #0147EB;
}

.navLinks {
  display: flex;
  gap: 20px; /* Adds space between the buttons */
}

.navButton {
  color: #F7F2EB;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #0147EB; /* Light green background on hover */
  text-decoration: none;
}

.pricing {
  color: #F7F2EB; 
}

.pricing:hover {
  color: #F7F2EB;
  text-decoration: underline;
  text-decoration-color: #0147EB;
}

.hamburger {
  display: none;
  flex-direction: column;
  
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #F7F2EB;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .navButton {
    color: #030F2D;
  }
  .navButton:hover {
    background-color: #0147EB; /* Light green background on hover */
    text-decoration: none;
    color: white;
  }
  
  .nav {
    padding: 20px 20px 20px 20px;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    color: #030F2D;
    width: 100%;
    text-align: center;
    padding: 5px 0; /* Reduced padding */
  }

  .navLinks.open {
    display: flex;
  }

  .navButton {
    padding: 5px 0; /* Further reduced padding */
    margin: 2px 0; /* Smaller margin between items */
    font-size: 0.9em; /* Slightly smaller font size */
  }
}
