.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.smsDropdown{
  width:80vw;
}
.pricingPage {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  text-align: center;
   display: flex;
  color: #ffffff;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  width: 90vw; /* change to your preferences */
  
}
.description{
  margin-top: -1%;
  margin-bottom: 6%;
   font-size: 0.9rem;
}
.pricingTiers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust as needed */
}

.pricingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
  border-radius: 8px;
  padding: 20px;
  /* Restore the background color */
  background-color: #333; /* Or whatever the original color was */
  margin-bottom: 20px;
}

.cardContent {
  flex-grow: 1;
}

.tierName {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  text-decoration: underline;
  text-decoration-color: #4caf50;
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}
.subtext{
  color: white;
  font-size: 1.5rem;
}

.subtext2{
  color: white;
  
}
.featureList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.featureItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.checkmark {
  color: #4CAF50;
  margin-right: 0.5rem;
  font-weight: bold;
}

.smsControl {
  margin-bottom: 1.5rem;
}

.sliderLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.slider {
  width: 100%;
}

.chooseButton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.chooseButton:hover {
  background-color: black;
}

.chooseButton.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.chooseButton.disabled:hover {
  background-color: #cccccc;
}

.numberInput {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.freeTrialBadge {
  background-color: #4CAF50;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.7em;
  display: inline-block;
  
  text-align: center;
}

.pricingDetails {
  width: 100%;
  text-align: left;
  padding-left: 20px; /* Adjust as needed */
  margin-bottom: 20px;
}

.price {
  margin-bottom: 5px;
}

.subtext2 {
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;

  }
  .description{
    margin-top: -1%;
    margin-bottom: 2.5%;
  }
  .pricingTiers {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .pricingCard {
    width: 45%;
    max-width: none;
    margin-bottom: 0;
  }

  .price {
    font-size: 2rem;
   
  }
  .smsDropdown{
  width:80vw;
  }
}